<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form 8</title>

    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>

    <form action="">
<div class="ml-50">
  <h4 class="uppercase text-center font-semibold text">
    <p>Federal University Dutse</p>
    <p>End-of-Programme Report/Student Evaluation Sheet</p>
    <br />Institution's/Department Assessment
  </h4>
</div>
<div>
  Comments on the Student overall performance:
  <input type="" class="input" />
</div>
<table>
  <thead>
    <th class=" mx-4">Describtion/Item Reference</th>
    <th class=" mx-4 w-1/7">Max. Score</th>
    <th class=" mx-4">Actual Scorce</th>
    <th class=" mx-4">Remark</th>
  </thead>
</table>


<tbody>
  <tr>This Is discription</tr>
  <tr>100</tr>
  <tr>98</tr>
  <tr>Excellent</tr>
</tbody>

<tfoot></tfoot>
<table>
  <tr>
    <td></td>
  </tr>
</table>

<div>
  Name of Departmental Coordinator:
  <input type="" class="input" />
  Head of Department:
  <input type="" class="input" />
</div>
<div> 
  <h4 class="uppercase text-center font-semibold text">
    <p>For The Use of Institution's supervisor Only</p>
</div>
<br>General Comment on First Visit:
<input type="" class="input" />
<br>General Comment on Second Visit:
<input type="" class="input" />

</form>
<script src="/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
<%- include('./partials/footer')%>
