
  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form 8</title>

    <link rel="stylesheet" href="/app.css" />
  </head>
  <body class="px-32">
    <!-- Thi s is the text input dashboard module -->
    <div class="flex content-center my-10">
      <div>
        <img src="./images/itf_log.png" class="inline" />
      </div>
      
        <div class="ml-40">
          <h2 class="uppercase text-center font-semibold text-5xl text-red-500">
            Industrial Training Fund
          </h2>
          <h3 class="uppercase text-center font-italic text-2xl text-red-500">
            Maingo Road, P.M.B. 2199, Jos
          </h3>
        </div>
      </div>

      <div class="ml-50">
        <h4 class="uppercase text-center font-semibold underline text">
          <p>STUDENTS IDUSTRIAL WORK EXPERIENCE SCHEME</p>
          <p>END-OF-PROGRAMME REPORT SHEET</p>
        </h4>
      </div>
    </div>
    <br />
    <p>PART A (To be completed by the student)</p>
    <form action="£">
      <div class="">
        <label for="£">1. (a) Name in Full</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£">(b) Registration/Matric Number</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£">(c) Course of Study</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£">(d) Year of Study</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£">(e) Name of Institution</label>
        <input type="" class="input" />
      </div>

      <div class="">
        <label for="£"
          >2. (a) Name and Address of the Company/Establishment</label
        >
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£">(b) The Department/Section</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£">(c) Period of Attachment.</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£">(d) Total Numbers of Weeks From</label>
        <input type="" class="input" />
        <label for="£">To</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£">3. Total Allowance received by Student N</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£"
          >4. Briefly outline of experience/relevance of training
          provided</label
        >
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£"
          >5. (a) Where were you Attached Last? (if applicable)</label
        >
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£"
          >(b) Total Numbers of weeks engaged on industrial Attachment</label
        >
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£">Date</label>
        <input type="" class="input" />
      </div>
      <button type="submit" class=" py-2 my-10 px-3 my-6 border-grey-100 border">Submit</button>

      <br />
      PART B (To be completed by the Employer)
      <div class="">
        <label for="£"
          >Do you agree with the student's comments in items 3 & 4 in Part
          A?</label
        >
        <div>
          <input type="radio" name="option" id="" />
          <label for="">Yes</label>
          <input type="radio" name="option" id="" />
          <label for="">No</label>
        </div>
      </div>
      <div class="">
        <label for="£">If No, Please Comment</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£"
          >State total Amount Paid to the Student as ITF Allowance N</label
        >
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£">In Words</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£"
          >6. Please assess the student's overall performance by thicking the
          appropriate box as provided</label
        >
        <div>
          <label for="">VERY GOOD</label>
          <input type="checkbox" name="option" id="" />
          <label for="">GOOD</label>
          <input type="checkbox" name="option" id="" />
          <label for="">SATISFACTORY</label>
          <input type="checkbox" name="option" id="" />
          <label for="">POOR</label>
          <input type="checkbox" name="option" id="" />
        </div>
      </div>
      <div class="">
        <label for="£"
          >7. Will you accept the student in any future attachment?</label
        >
        <div>
          <input type="radio" name="option" id="" />
          <label for="">Yes</label>
          <input type="radio" name="option" id="" />
          <label for="">No</label>
        </div>
      </div>
      <div class="">
        <label for="£">If No, Please Comment</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£"
          >8. Is your Company/Establishment in a position to offer this student
          a Job in future?</label
        >
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£">9. Name of Reporting Officer</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£">Rank</label>
        <input type="" class="input" />
        <label for="£">Date</label>
        <input type="" class="input" />
      </div>
      <br />
      N.B Forms duly completed by employers should be forwarded to/collected by
      the repective Institution under stroe
      <br />
      <button type="submit" class=" py-2 my-10 px-3 my-6 border-grey-100 border">Submit</button>
      PART C (To be Completed by the Institution)
      <div class="">
        <label for="£">10. Indicate Numbers of Visits</label>
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£"
          >11. Give your assesment of facilities provided by Company during
          visit(s) by thicking</label
        >
        <div>
          <label for="">STANDARD</label>
          <input type="checkbox" name="option" id="" />
          <label for="">ADEQUATE</label>
          <input type="checkbox" name="option" id="" />
          <label for="">RELEVANT</label>
          <input type="checkbox" name="option" id="" />
          <label for="">NOT RELEVANT</label>
          <input type="checkbox" name="option" id="" />
        </div>
      </div>
      <div class="">
        <label for="£"
          >12. Give your impression of the Student's involvements in
          training:FULLY/PARTIALLY</label
        >
        <input type="" class="input" />
      </div>
      <div class="">
        <label for="£"
          >13. Assessment of Student's performance (Grading "A,B,C,D" has to be
          stated)</label
        >
        <div>
          <label for="">A</label>
          <input type="checkbox" name="option" id="" />
          <label for="">B</label>
          <input type="checkbox" name="option" id="" />
          <label for="">C</label>
          <input type="checkbox" name="option" id="" />
          <label for="">D</label>
          <input type="checkbox" name="option" id="" />
        </div>
      </div>
      <div class="">
        <label for="£">Full Name of supervisor</label>
        <input type="" class="input" />
        <label for="£">Status</label>
        <input type="" class="input" />
        <br />
        <label for="£">Department</label>
        <input type="" class="input" />
        <label for="#">Date</label>
        <input type="" class="input"
      </div>
      <%- include('./partials/footer')%>
    </form>
  </body>
</html>
