<%- include('./partials/header')%>
<div class="flex content-center my-10">
  <div>
    <img src="./images/itf_log.png" class="inline" />
  </div>

<div class="ml-50">
  <h4 class="uppercase text-center font-semibold text">
    <p>Industrial Training Fund (ITF)</p>
    <p>End-of-Programme Report/Student Evaluation Sheet</p>
    <br />For The Use of Industrial Training Fund (ITF)
  </h4>
</div>
General Comment:
<input type="" class="input" />
<div>
  Name of supervisor:
  <input type="" class="input" />
</div>

<script src="/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
<%- include('./partials/footer')%>
